<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles/ask.css}"> <!-- Используем Thymeleaf для подключения CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script th:src="@{/scripts/script.js}"></script> <!-- Используем Thymeleaf для подключения JS -->
  <title>Удалить локацию?</title>
</head>
<body>
<div class="success-container">
  <div class="message">
    <h1>Вы действительно хотите удалить локацию?</h1>
  </div>

  <!-- Контейнер для кнопок -->
  <div class="buttons-container">
    <!-- Кнопка "Да" -->
    <a th:href="@{/locations/delete/{locationId}(locationId=${location.id})}" class="button bth-yes">Да</a>
    <!-- Кнопка "Нет" -->
    <button class="button bth-no" onclick="history.back()">Назад</button>
  </div>
</div>
</body>
</html>