<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/done.css}"> <!-- Используем Thymeleaf для подключения CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/scripts/script.js}"></script> <!-- Используем Thymeleaf для подключения JS -->
    <title>Удаление Успешно</title>
</head>
<body>
<div class="success-container">
    <!-- Rectangle 98 - Фон для сообщения -->
    <div class="rectangle-99">
        <h1 class="registration-success">Удаление прошло успешно</h1>
    </div>

    <!-- Контейнер для кнопок -->
    <div class="buttons-container">
        <!-- Кнопка "Назад" -->
        <button class="rectangle-101 go-to-main" onclick="history.go(-2)">Назад</button>
        <!-- Кнопка "В личный кабинет" -->
        <button class="rectangle-102 personal-cabinet" onclick="history.go(-2)">К странице администратора</button>
    </div>
</div>
</body>
</html>

