<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style-content.css}"> <!-- Используем Thymeleaf для подключения CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/scripts/admin.js}"></script> <!-- Используем Thymeleaf для подключения JS -->
    <title>Управление локациями/маршрутами</title>
</head>
<body>
<!-- Основной контент -->
<div class="main-content" id="main-content">
    <div class="photo-section">
        <h2 class="photo-title">Управление локациями/маршрутами</h2>
        <ul class="photo-list">
            <li class="photo-item" th:each="route : ${routes}">
                <a th:href="@{/admins/manage-routes/{id}(id=${route.id})}">
                    <p th:text="${route.name}">Название маршрута</p>
                </a>
            </li>

        </ul>
    </div>
</div>
</body>
</html>


