/* Блоки управления с кнопками Редактировать и Сохранить */
.edit-block {
    display: flex; /* Используем flexbox для симметричного расположения кнопок */
    justify-content: space-evenly; /* Распределяем пространство между кнопками */
    width: 80%; /* Задаем ширину блока */
    margin-bottom: 50px; /* Увеличиваем отступ снизу между блоком и заголовком */
    margin-top: 50px;
}

/* Кнопки редактирования и сохранения */
/* Кнопки редактирования и сохранения */
.btn {
    box-sizing: border-box;
    display: inline-flex; /* Для стилизации ссылок как кнопок */
    align-items: center; /* Выравнивание элементов по центру */
    justify-content: center; /* Центрирование текста внутри ссылки */
    flex: 1; /* Автоматически занимает равное пространство */
    margin: 0 50px; /* Отступ между кнопками */
    height: 56px; /* Высота кнопок */
    background: #FEF8E7; /* Цвет фона */
    border: 1px solid #000000; /* Цвет границы */
    border-radius: 20px; /* Закругленные углы */
    font-family: 'Unbounded', sans-serif; /* Шрифт текста */
    font-weight: 400; /* Нормальное начертание */
    font-size: 24px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Указатель курсора при наведении */
    transition: background 0.3s; /* Эффект перехода при наведении */
}

/* Эффект при наведении */
.btn:hover {
    background: #e2e2e2; /* Изменение цвета фона при наведении */
}
