/* Общие настройки страницы */
body {
    margin: 0; /* Убираем отступы по умолчанию */
    font-family: 'Unbounded', sans-serif; /* Шрифт на всей странице */
    background-color: #FFFFFF; /* Цвет фона всей страницы, теперь белый */
    display: flex; /* Используем flexbox для размещения элементов */
}
a {
	text-decoration: none;
	font-size: 20px; /* Размер шрифта */
	color: #000;
}
/* Основное содержание */
.main-content {
    box-sizing: border-box;
    position: absolute;
    left: 250px; /* Сдвигаем на ширину боковой панели */
    width: calc(100% - 250px); /* Оставшаяся ширина */
    top: 100px; /* Ниже заголовка */
    padding: 20px; /* Внутренние отступы */
    display: flex; /* Используем flex для размещения секций */
    flex-wrap: wrap; /* Обертывание элементов при нехватке места */
}

/* Секции для локаций и маршрутов */
.locations, .routes {
    width: 587px; /* Ширина секции */
    margin: 20px; /* Отступы между секциями */
}

/* Заголовок секции */
.section-title {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Фон для локаций и маршрутов */
.background-location, .background-route {
    background: #FEF8E7; /* Цвет фона */
    border: 2px solid #000000; /* Черная граница */
    border-radius: 50px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
}

/* Элементы внутри секций */
.location-item, .route-item {
    font-size: 24px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
    margin: 5px 0; /* Отступы между элементами */
}

/* Изображения */
.game-image {
    width: 935px; /* Ширина изображения */
    height: 701px; /* Высота изображения */
    background-size: cover; /* Обложка для полноэкранного отображения */
    background-position: center; /* Центрирование фона */
    margin: 50px; /* Отступ между изображениями */
}

 /* Общие стили для секции фотографий */
 .photo-section {
    text-align: center; /* Выровнять текст по центру */
    margin: 40px 0; /* Отступы сверху и снизу */
}

/* Стили заголовка */
.photo-title {
    font-weight: bold; /* Жирный шрифт для заголовка */
    font-size: 1.8em; /* Размер шрифта заголовка */
    color: black; /* Цвет шрифта */
    margin-bottom: 20px; /* Отступ снизу от заголовка */
}

/* Стили для списка фотографий */
.photo-list {
    list-style: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать внутренние отступы */
    display: flex; /* Используем флекс-контейнер для выравнивания */
    flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
    justify-content: center; /* Центрировать элементы по горизонтали */
}

/* Стили для каждого элемента списка */
.photo-item {
    margin: 25px; /* Отступы между фотографиями */
    margin-bottom: 18px; /* Пробел между рядами фотографий */
}

/* Стили для изображений */
.photo-image {
    width: 27vw; /* Ширина изображения */
    height: auto; /* Высота изображения определяется автоматически */
    border-radius: 35px; /* Закругленные углы изображения */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень под изображением */
    transition: transform 0.3s; /* Плавный переход для эффектов */
}

/* Эффект при наведении мыши на изображение */
.photo-image:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

.sidebar-item.active {
    color: #3DA2D6; /* Цвет текста активного элемента */
}


