/* Общие настройки страницы */
body {
    margin: 0; /* Убираем отступы по умолчанию */
    font-family: 'Unbounded', sans-serif; /* Шрифт на всей странице */
    background-color: #FFFFFF; /* Цвет фона всей страницы, теперь белый */
    display: flex; /* Используем flexbox для размещения элементов */
}
a {
	text-decoration: none;
	font-size: 20px; /* Размер шрифта */
	color: #000;
}
/* Основное содержание */
.main-content {
    box-sizing: border-box;
    position: absolute;
    left: 250px; /* Сдвигаем на ширину боковой панели */
    width: calc(100% - 250px); /* Оставшаяся ширина */
    top: 100px; /* Ниже заголовка */
    padding: 20px; /* Внутренние отступы */
    display: flex; /* Используем flex для размещения секций */
    flex-wrap: wrap; /* Обертывание элементов при нехватке места */
}

/* Секции для локаций и маршрутов */
.locations, .routes {
    width: 587px; /* Ширина секции */
    margin: 20px; /* Отступы между секциями */
}

/* Заголовок секции */
.section-title {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Заголовок секции */
.text-title {
    text-align: center; /* Выровнять текст по центру */
    margin: 70px 120px;
    font-weight: bold; /* Жирный шрифт для заголовка */
    font-size: 1.8em; /* Размер шрифта заголовка */
    color: black; /* Цвет шрифта */
    margin-bottom: 20px; /* Отступ снизу от заголовка */
}

/* Фон для локаций и маршрутов */
.background-location, .background-route {
    background: #FEF8E7; /* Цвет фона */
    border: 2px solid #000000; /* Черная граница */
    border-radius: 50px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
}

/* Элементы внутри секций */
.location-item, .route-item {
    font-size: 20px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
    margin: 30px 0; /* Отступы между элементами */
}

/* Стили заголовка */
.photo-title {
    font-weight: bold; /* Жирный шрифт для заголовка */
    font-size: 1.8em; /* Размер шрифта заголовка */
    color: black; /* Цвет шрифта */
    margin-bottom: 20px; /* Отступ снизу от заголовка */
}

/* Стили для списка фотографий */
.photo-list {
    list-style: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать внутренние отступы */
    display: flex; /* Используем флекс-контейнер для выравнивания */
    flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
    justify-content: center; /* Центрировать элементы по горизонтали */
}

/* Стили для каждого элемента списка */
.photo-item {
    margin: 25px; /* Отступы между фотографиями */
    margin-bottom: 18px; /* Пробел между рядами фотографий */
}

/* Стили для изображений */
.photo-image {
    width: 27vw; /* Ширина изображения */
    height: auto; /* Высота изображения определяется автоматически */
    border-radius: 35px; /* Закругленные углы изображения */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень под изображением */
    transition: transform 0.3s; /* Плавный переход для эффектов */
}

/* Эффект при наведении мыши на изображение */
.photo-image:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

.sidebar-item.active {
    color: #3DA2D6; /* Цвет текста активного элемента */
}

/* Кнопка "Добавить" */
.add-button {
    box-sizing: border-box;
    position: fixed; /* Фиксируем позицию кнопки */
    width: 280px; /* Уменьшаем ширину кнопки */
    height: 58px; /* Уменьшаем высоту кнопки */
    left: calc(100% - 340px); /* Сдвигаем кнопку вправо для центровки */
    bottom: 20px; /* Отступ от нижней части экрана */
    background: #FEF8E7; /* Цвет фона кнопки */
    border: 1px solid #000000; /* Черная граница */
    border-radius: 20px; /* Закругленная кнопка */
    font-family: 'Unbounded'; /* Шрифт */
    font-style: normal;
    font-weight: 400; /* Внешний вид шрифта */
    font-size: 20px; /* Уменьшаем размер шрифта кнопки */
    line-height: 40px; /* Высота строки */
    color: #000000; /* Цвет текста кнопки */
    display: flex; /* Центрируем текст в кнопке */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    cursor: pointer; /* Указываем, что элемент можно нажимать */
}

/* Контейнер для изображения */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    margin: 50px 90px;
}

/* Стили для кнопок "Редактировать" и "Удалить" */
.button-container {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера кнопок */
    display: flex; /* Используем flexbox для расположения кнопок в ряд */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    margin-top: 30px; /* Отступ сверху для кнопок */
}

/* Общие стили для кнопок */
.action-button {
    box-sizing: border-box;
    width: 280px; /* Уменьшаем ширину кнопки */
    height: 58px; /* Высота кнопки */
    background: #FEF8E7; /* Цвет фона кнопки */
    border: 1px solid #000000; /* Черная граница */
    border-radius: 20px; /* Закругленные углы кнопки */
    font-family: 'Unbounded', sans-serif; /* Шрифт */
    font-weight: 400; /* Внешний вид шрифта */
    font-size: 20px; /* Размер шрифта */
    color: #000000; /* Цвет текста кнопки */
    display: flex; /* Используем flexbox для центровки текста */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    cursor: pointer; /* Указываем, что элемент можно нажимать */
    margin: 0 50px; /* Отступы между кнопками */
}

/* Эффекты при наведении на кнопки */
.action-button:hover {
    background-color: #e2e2e2; /* Цвет фона при наведении */
}

/* Специфические стили для каждой кнопки, если необходимо */
.edit-button {
    font-size: 20px; /* Размер шрифта для кнопки "Редактировать" */
}

.delete-button {
    font-size: 20px; /* Размер шрифта для кнопки "Удалить" */
}

/* Стили для изображений локаций и маршрутов*/
.item-image {
    width: 27vw; /* Ширина изображения */
    height: auto; /* Высота изображения определяется автоматически */
    border-radius: 15px; /* Закругленные углы изображения */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень под изображением */
    transition: transform 0.3s; /* Плавный переход для эффектов */
}

/* Эффект при наведении мыши на изображение */
.item-image:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}